@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './element-variables.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Microsoft YaHei2","微软雅黑",Arial,sans-serif;
}

body, html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pointer {
  cursor: pointer;
}
.w100 {
  width: 100% !important;
}
.p-l-10 {
  padding-left: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.p-b-10 {
  margin-bottom: 10px;
}

.pb-3 {
  padding-bottom: 3px;
}
.pt-3 {
  padding-top: 3px;
}
.pr-3 {
  padding-right: 3px;
}
.pl-3 {
  padding-left: 3px;
}
.px-3 {
  padding-left: 3px;
  padding-right: 3px;
}
.py-3 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.font-12 {
  font-size: 12px;
}
.font-bold {
  font-weight: bold;
}
.font-blue {
  color: $--color-primary !important;
}
.font-green {
  color: $--color-success !important;
}
.font-yellow {
  color: $--color-warning !important;
}
.font-red {
  color: $--color-danger !important;
}
.font-gray {
  color: $--color-info !important;
}
.font-black {
  color: $--color-text-regular !important;
}
